.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.nav-link,
.nav-item {
  color: #ffffff !important;
  text-decoration: none !important;
}

.nav-item {
  padding: 8px;
}

.nav-item:hover {
  color: rgb(197, 197, 197) !important;
}
