.contact {
  padding: 8%;
}

.form-control {
  background-color: rgba(75, 75, 75, 0.7);
  color: #ffffff;
  box-shadow: 0px 0px 16px 0px #000000;
  border: none;
}

.form-control:focus {
  background-color: #232423;
  color: #ffffff;
}

.form-control:disabled {
  background-color: #707070;
}
