.contact {
  padding: 8%;
}

.form-control {
  background-color: rgba(75, 75, 75, 0.7);
  backdrop-filter: blur(10px);
  color: #ffffff;
}

.form-control:focus {
  background-color: #232423;
  color: #ffffff;
}

.form-control:disabled {
  background-color: #707070;
}
