.projects {
  background: linear-gradient(-45deg, black, gray);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  padding: 8%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-card {
  background-color: rgba(75, 75, 75, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 0.5px solid white;
}

.hr {
  display: inline-block;
}
.hr:after {
  content: "";
  display: block;
  border-top: 3px solid orange;
  margin-top: 8px;
}

/* 
.mySVG {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */
